// styles for the blog page

// header blog styles

main.blog {
  display: flex;
  justify-content: space-between;
}

.blog {
  background: $backgroundLight;
}

header.blog {
  @include background(url(../assets/nightYogaBlog.jpg));
  min-height: 75vh;
}

.blogHeader {
  font-size: 5.25rem;
  position: absolute;
  top: 10%;
  left: 15%;
}

.blogMain {
  background: $backgroundLight;
  max-width: 70%;
}

.blogImg {
  position: relative;
  top: -50px;
  left: -12px;
  z-index: 1;
}

// .blogImg::after {
//   content: "";
//   height: 100%;
//   width: 98%;
//   background-color: $buttonAccent;
//   z-index: -1;
//   position: absolute;
//   top: 15px;
//   left: 31px;
// }

.blogImg::after {
  @include after($buttonAccent, 15px, 31px);
  width: 98%;
}

.blogBorder {
  border-right: 2px solid $buttonAccent;
  border-bottom: 2px solid $buttonAccent;
}

.blogText {
  padding: 0 20px 20px 0;
  margin-left: 100px;
}

.blogText h3 {
  margin: 50px 0 0 0;
}

.byLine {
  margin: 0 0 20px 0;
  font-style: italic;
}

.byLine span {
  font-weight: bold;
}

.comments {
  margin-left: 100px;
  h3 {
    color: $text;
  }
  
}

.commenter {
  display: flex;
  h4 {
    font-family: 'Lato', sans-serif;
  }
}

.commenterText {
  margin-left: 20px;
}

.commenterImg {
  width: 100px;
  height: 100px;
}

// form styles

form {
  margin-left: 100px;
  color: $text;
  display: flex;
  flex-direction: column;
}

.blog input,
.blog textarea {
  background: $backgroundLight;
  color: $text;
}

// also styles form on contact page
.nameEmail {
  display: flex;
}

.name,
.email {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.name label,
.email label {
  padding-left: 30px;
}

.name {
  margin-right: 40px;
}

.blog input[type="email"],
.blog input[type="text"] {
  border-top: $backgroundLight;
  border-left: $backgroundLight;
  border-right: $backgroundLight;
  border-bottom: 2px solid $headerText;
}

// also styles contact textarea
textarea {
  border: 2px solid $headerText;
  padding: 40px;
  margin: 50px 0;
}

textarea::placeholder {
  color: $text;
  opacity: 1;
}

.blog button {
  border: $buttonAccent;
  margin-bottom: 100px;
}

// aside styles

.blog aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  color: $text;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  h5 {
    font-family: 'Dokdo', cursive;
    font-size: 2rem;
  }
}

.blog aside::after {
  @include after ($buttonAccent, 15px, -30px);
  height: 45%;
  width: 110%;
}

aside p {
  font-family: 'Lato', sans-serif;
}

.asideLinks ul {
  padding: 0;
  }

.asideLinks li {
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    &:hover {
      color: $headerText;
    }
}

.asideLinks li::before {
  content: "•"; 
  color: $headerText;
}

// start of responsive styles



@media (max-width: 1070px) {
  header.blog {
    background-position: 50% 50%;
  }

  .blogImg::after {
  left: 28px;
}
}

@media (max-width: 880px) {
  main.blog {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  
  .blogImg::after {
    width: 0;
    height: 0;
  }

  .blogImg {
    border: 17px solid $buttonAccent;
    left: 0;
  }

  .blogBorder {
    border: 2px solid $buttonAccent;
  }

  .blogText {
    margin: 0 50px;
  }

  .comments {
    margin-left: 0;
  }

  .blog form {
    margin-left: 0;
  }

  .blog button {
    margin-bottom: 50px;
  }

  .blog aside {
    width: 50%;
    margin-bottom: 50px;
  }

  .blog aside::after {
    height: 100%;
    width: 105%;
  }

  .blog aside p,
  .blog aside li {
    width: 90%;
  }



}

@media (max-width: 580px) {
  header.blog {
    background-position: 60% 50%;
  }
}

@media (max-width: 485px) {

  .blog h3 {
    margin-top: 0;
  }

  .blogText {
    margin: 0 20px;
  }

  .blog aside h5 {
    margin: 20px 0;
    font-size: 1.5rem;
  }

  .nameEmail {
  flex-direction: column;
  }

  .name,
  .email {
    width: 100%;
    text-align: center;
  }

  .name label,
  .email label {
    padding-left: 0;
    margin-left: 0;
  }


}


@media (max-width: 410px) {
  .blogHeader {
    top: -20%;
    left: 10%;
  }
  .blog .headerNav h3,
  .contact .headerNav h3 {
    display: block;
  }
  .blogHeader {
  font-size: 4.5rem;
  top: 5%;
}

}


  


@media (max-width: 380px) {
  header.blog {
    background-position: 70% 60%;
  }

  .blogHeader {
    font-size: 4rem;
    top: 15%;
    left: 20%;
  }

  .blogText h3 {
    font-size: 2rem;
  }

  .blog aside::after {
    width: 130%;
    height: 100%;
    top: -15px;
  }

  .blog aside li {
    padding-left: 5px;
  }

}