// header blog styles

.blog {
  background: $backgroundLight;
}

header.blog {
  @include background(url(../assets/nightYogaBlog.jpg));
  min-height: 75vh;
}

.blogHeader {
  font-size: 5.25rem;
  position: absolute;
  top: 10%;
  left: 15%;
}

.blogMain {
  background: $backgroundLight;
  max-width: 70%;
  position: relative;
}

.blogImg {
  box-shadow: 15px 15px $buttonAccent;
}

.blogBorder {
  border-right: 2px solid $buttonAccent;
  border-bottom: 2px solid $buttonAccent;
}

.blogText {
  padding: 0 20px 20px 0;
  margin-left: 100px;
}

.blogText h3 {
  margin: 50px 0 0 0;
}

.byLine {
  margin: 0 0 20px 0;
  font-style: italic;
}

.byLine span {
  font-weight: bold;
}

.comments {
  margin-left: 100px;
  h3 {
    color: $text;
  }
  
}

.commenter {
  display: flex;
  h4 {
    font-family: 'Lato', sans-serif;
  }
}

.commenterText {
  margin-left: 20px;
}

.commenterImg {
  width: 100px;
  height: 100px;
}

form {
  margin-left: 100px;
}

