// styles for the blog page

// header blog styles

main.blog {
  display: flex;
  justify-content: space-between;
}

.blog {
  background: $backgroundLight;
}

header.blog {
  @include background(url(../assets/nightYogaBlog.jpg));
  min-height: 75vh;
  background-position: 55% 100%;
}

.blogHeader h2 {
  font-size: 5.25rem;
  padding: 100px 105px;
  margin: 0;
}

.blogMain {
  background: $backgroundLight;
  max-width: 70%;
}

.blogImg {
  position: relative;
  width: calc(100% - 13px);
  top: -50px;
  left: 0;
  z-index: 1;
}

.blogImg::after {
  @include after($buttonAccent, 15px, 15px);
  width: 100%;
}

.blogBorder {
  border-right: 2px solid $buttonAccent;
  border-bottom: 2px solid $buttonAccent;
}

.blogText {
  padding: 0 20px 20px 0;
  margin-left: 100px;
}

.blogText h3 {
  margin: 50px 0 0 0;
}

.byLine {
  margin: 0 0 20px 0;
  font-style: italic;
}

.byLine span {
  font-weight: bold;
}

// commenter styles

.comments {
  margin-left: 100px;
  h3 {
    color: $text;
  }
  
}

.commenter {
  display: flex;
  align-items: flex-start;
  h4 {
    font-family: 'Lato', sans-serif;
    margin: 50px 0;
  }
}

.commenterText {
  margin-left: 20px;
  width: 90%;
}

.commenterImg {
  width: 10%;
  margin: 50px 0; 
}

// form styles
// also partially styles form on contact page

form {
  margin-left: 100px;
  color: $text;
  display: flex;
  flex-direction: column;
}

.blog input,
.blog textarea {
  background: $backgroundLight;
  color: $text;
}

.nameEmail {
  display: flex;
}

.name,
.email {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.name label,
.email label {
  padding-left: 30px;
}

.name {
  margin-right: 40px;
}

.blog input[type="email"],
.blog input[type="text"] {
  border-top: 2px solid $backgroundLight;
  border-left: 2px solid $backgroundLight;
  border-right: 2px solid $backgroundLight;
  border-bottom: 2px solid $headerText;
  transition: all 0.5s ease;
  &:active {
    border: 2px solid $headerText;
    box-shadow: 0 0 7px $headerText; 
  }
}

.blog input[type="email"]:focus,
.blog input[type="text"]:focus{
  border: 2px solid $headerText;
}



// also styles contact textarea
textarea {
  border: 2px solid $headerText;
  padding: 40px;
  margin: 50px 0;
  transition: all 0.5s ease;
  &:active {
    box-shadow: 0 0 7px $headerText;
  }
}


// I found this on w3 schools in order to style placeholder text in firefox and chrome
textarea::placeholder {
  color: $text;
  opacity: 1;
  font-weight: 300; 
}

.blog button {
  border: $buttonAccent;
  margin-bottom: 100px;
}

// aside styles

.blog aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  color: $text;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  h5 {
    font-family: 'Dokdo', cursive;
    font-size: 2rem;
  }
}

.blog aside::after {
  @include after ($buttonAccent, 15px, -30px);
  height: 45%;
  width: 110%;
}

aside p {
  font-family: 'Lato', sans-serif;
}

.asideLinks ul {
  padding: 0;
  }

.asideLinks li {
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    &:hover {
      color: $headerText;
    }
}

// I found this answer on w3 schools
.asideLinks li::before {
  content: "•"; 
  color: $headerText;
}

// start of responsive styles

@media (min-width: 2500px) {
  header.blog {
    min-height: 40vh;
    background-position: 75% 25%;
  }

  .blogHeader h2 {
    padding: 100px 130px;
  }
}

@media (max-width: 1070px) {
  header.blog {
    background-position: 50% 50%;
  }

  .blogImg::after {
    left: 28px;
  }
}

@media (max-width: 880px) {

  main.blog {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
  .blogImg::after {
    width: 0;
    height: 0;
  }

  .blogImg {
    border: 17px solid $buttonAccent;
    left: -2px;
    width: calc(100% + 4px);
  }

  .blogBorder {
    border: 2px solid $buttonAccent;
  }

  .blogText {
    margin: 0 50px;
  }

  .comments {
    margin-left: 0;
  }

  .commenterImg {
    width: 20%;
  }

  .commenterText {
    width: 80%;
  }

  .blog form {
    margin-left: 0;
  }

  .blog button {
    margin-bottom: 50px;
  }

  .blog aside {
    width: 50%;
    margin-bottom: 50px;
  }

  .blog aside::after {
    height: 100%;
    width: 105%;
  }

  .blog aside p,
  .blog aside li {
    width: 90%;
  }

}

@media (max-width: 705px) {
  .blogHeader h2 {
    padding: 50px 0;
    text-align: center;
  }

}

@media (max-width: 580px) {
  header.blog {
    background-position: 60% 50%;
  }

  .blogHeader {
    left: 20%;
  }
}

@media (max-width: 485px) {

  .blog h3 {
    margin-top: 0;
  }

  .blogText {
    margin: 0 20px;
  }

  .blog aside h5 {
    margin: 20px 0;
    font-size: 1.5rem;
  }

  .nameEmail {
  flex-direction: column;
  }

  .name,
  .email {
    width: 100%;
    text-align: center;
  }

  .name label,
  .email label {
    padding-left: 0;
    margin-left: 0;
  }

}

@media (max-width: 410px) {
  
  // styles both blog and contact page
  .blog .headerNav h3,
  .contact .headerNav h3 {
    display: block;
    margin-top: 50px;

  }
  .blogHeader {
  font-size: 4.5rem;
  }

}

@media (max-width: 380px) {
  header.blog {
    background-position: 70% 60%;
  }

  .blogHeader {
    font-size: 4rem;
  }

  .blogText h3 {
    font-size: 2rem;
  }

  .comments h3 {
    margin: 10px 0;
  }

  .commenter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      margin: 10px 0;
    }
  }

  .commenterImg {
    margin: 0;
    width: 50%;
  }

  .commenterText {
    width: 100%;
  }

  .blog aside::after {
    width: 130%;
    height: 100%;
    top: -15px;
  }

  .blog aside li {
    padding-left: 5px;
  }

}