// styles for the contact page

header.contact,
main.contact,
footer.contact {
  background:$backgroundLight;
}

main.contact {
  padding: 100px 0 0 0;
}

// start of contact header styles

header.contact {
  @include background(url(../assets/contactBackgroundMountains.jpg)) ;
  min-height: 75vh;
  h2 {
    font-size: 5.25rem;
  }
} 


// start of contact form styles


.formAside {
  display: flex;
  justify-content: space-between;
}

// I did the max-height and display flex in the form wrapper mixed with the position relative in form.contact to get the positioning overtop the background image and the short page size in the deisgn. Asaf helped me come up with this solution.
.formWrapper {
  max-height: 500px;
  display: flex; 
  align-items: flex-end;
  width: 70%; 
}

// I used box shadow here instead of the ::after affect I used in the other instances of this same design because the z-index was interacting with the background image in a weird way. Colin helped me try to fix it but we couldn't, so I changed my method in this instance. 
form.contact {
  background: $backgroundDark;
  padding: 50px 50px 25px 50px;
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 50px;
  box-shadow: 15px 15px $headerText;
}

.contact input,
.contact textarea {
  background: $backgroundDark;
  color: $text;
}

.contact input[type="text"],
.contact input[type="email"] {
  border-bottom: 2px solid $headerText;
  border-top: 2px solid $backgroundDark;
  border-left: 2px solid $backgroundDark;
  border-right: 2px solid $backgroundDark;
  border-bottom: 2px solid $headerText;
  transition: all 0.5s ease;
  &:active {
    border: 2px solid $headerText; 
    box-shadow: 0 0 7px $headerText
  }
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus {
  border: 2px solid $headerText;
} 

.contact button {
  border: $buttonAccent;
}

// aside styles

aside.contact {
  width: 20%;
}

aside.contact ul {
  display: flex;
  padding: 0;
  li {
    padding: 0 10px;
    color: $headerText;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.5);
    }
  }

}

aside.contact p {
  margin: 0;
}

.contactInfo p:first-of-type {
  margin: 10px 0 20px 0;
}

address {
  font-style: normal;
  margin: 0;
  padding: 0;
}

// start of responsive styles

@media (min-width: 2500px)
{
  header.contact {
    min-height: 40vh;
  }
}

@media (max-width: 1020px) {

  main.contact {
    padding: 0;
  }

  .formAside {
    flex-direction: column;
    padding-top: 50px;
  }

  .formWrapper {
    width: 100%;
    justify-content: center;
  }

  aside.contact {
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    nav ul {
    justify-content: center;
    }
  }
}

@media (max-width: 755px) {
  main.contact {
    padding: 150px 0;
  }

  form.contact {
    padding-top: 20px;
  }

  .contact .nameEmail {
  flex-direction: column;
  }

  .contact .name,
  .contact .email {
    width: 100%;
    text-align: center;
  }

}

@media (max-width: 650px) {
  header.contact h2 {
    font-size: 4.5rem;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 550px) {
  header.contact h2 {
    font-size: 4rem;
  }

  form.contact {
    width: 90%;
    padding: 25px 25px 10px 25px;
  }
  aside.contact {
    width: 100%;
  }

}

@media (max-width: 485px) {
  header.contact h2 {
    font-size: 3.5rem;
  }
}
  
@media (max-width: 415px) {
  main.contact {
    padding-bottom: 50px;
  }

  header.contact h2 {
    font-size: 3rem;
  }

  form.contact {
    border: 15px solid $headerText;
    margin: 0 15px;
    box-shadow: none;
  }

  form.contact::after {
    width: 0;
    height: 0;
  }
}

@media (max-width: 370px) {
  header.contact h2 {
    font-size: 2.5rem;
  }
}
  



