// styles for the contact page

body.contact {
  background:$backgroundLight;
}

main.contact {
  padding: 100px 0;
}

// start of contact header styles

header.contact {
  @include background(url(../assets/contactBackgroundMountains.jpg)) ;
  min-height: 75vh;
  h2 {
    font-size: 5.25rem;
  }
} 


// start of contact form styles

.formAside {
  display: flex;
}

form.contact {
  background: $backgroundDark;
  width: 70%;
  padding: 50px 50px 25px 50px;
  position: relative;
  top: -250px;
  left: 0;
}

form.contact::after {
  @include after($headerText, 15px, 15px)
}

.contact input,
.contact textarea {
  background: $backgroundDark;
  color: $text;
}

.contact input[type="text"],
.contact input[type="email"] {
  border-top: $backgroundDark;
  border-left: $backgroundDark;
  border-right: $backgroundDark;
  border-bottom: 2px solid $headerText;
}

.contact button {
  border: $buttonAccent;
}

// aside styles

aside.contact {
  width: 15%;
}

aside.contact ul {
  display: flex;
  padding: 0;
  li {
    padding-right: 20px;
    color: $headerText
  }

}

aside.contact p {
  margin: 0;
}

aside.contact p:nth-of-type(1) {
  margin: 10px 0 20px 0;
}