// General styles for the site

html {
    font-size: 125%;
}

// I asked Fatima what size the wrapper should be and this is what she said
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

// This is for alignment and the max-width is 80% of the main wrapper
.wrapperSmall {
  width: 90%;
  max-width: 1152px;
  margin: 0 auto; 
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4 {
  color: $headerText;
}

h1,
h2,
h3,
.more {
  font-family: 'Dokdo', cursive; 
}

h3 {
  font-size: 2.25rem;
}

.more {
  color: $text;
  background: $buttonAccent;
  padding: 10px;
  font-size: 1.5rem;
  transition: transform 0.5s ease;
  &:active {
    transform: scale(0.9);
  }
}

nav ul li,
p {
  font-family: 'Lato', sans-serif;
  color: $text;
}


img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}  