// header styles

header {
  background:url(../assets/candleHeaderBackground.jpg);
  background-size: cover;
	min-height: 100vh;
	background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.hamburger {
    color: $text; 
    position: absolute;
    top: 0;
    right: 14%;
    visibility: hidden;
    font-size: 2rem;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 {
  margin-left: 10%;
  font-size: 2.05rem;
}

.menu {
  margin-right: 10%;
    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;
      li {
        padding: 0 10px;
        font-weight: bold;
        &:hover {
          color:$headerText;
        }
      }

  }
}

header p {
  font-family: 'Dokdo', cursive;
  color: $text;
  font-size: 3rem;
  margin: 0 0 0 10px;
}

h1 {
  font-size: 5.75rem;
  margin: 0 0 0 10px;
}

.headerMain {
  display: flex;
  position: absolute;
  bottom: -10%;
}

.headerImg {
  width: 500px;
}





