// header styles and responsive

header.main {
  @include background(url(../assets/candleHeaderBackground.jpg));
  min-height: 100vh;
}

.hamburger {
  color: $text; 
  position: absolute;
  top: 0;
  right: 14%;
  visibility: hidden;
  font-size: 2rem;
  padding: 10px;
}

// styles each page's nav

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

// styles logo
header h3 {
  margin-left: 10%;
  font-size: 2.05rem;
}

.menu {
  margin-right: 10%;
    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;
      li {
        padding: 0 10px;
        font-weight: bold;
        &:hover {
          color:$headerText;
      }
    }

  }
}

header p {
  font-family: 'Dokdo', cursive;
  color: $text;
  font-size: 3rem;
  margin: 0 0 0 10px;
}

h1 {
  font-size: 5.75rem;
  margin: 0 0 0 10px;
}

.headerMain {
  display: flex;
  position: relative;
  bottom: -10%;
}

.headerImg {
  width: 500px;
}

// start of responsive

// This is to style on large screens

@media (min-width: 1500px) {
  header.main {
    background-position: 100% 100%;
    min-height: 75%;
  }
}

@media (max-width: 1150px) {
  header.main {
    background-position: 40% 0;
  }
  .headerMain {
    bottom: 0;
  }

}

@media (max-width: 930px) {
  header.main {
    background-position: 60% 0;
  }
  .headerMain {
    bottom: 15%;
  }
}

@media (max-width: 730px) {
  header.main {
    background-position: 80% 0;
  }

  .headerMain {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .headerImg {
    width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 705px) {

  .headerNav {
    flex-direction: column;
    text-align: center;
    h3 {
      margin: 50px 0 20px 0;
    }
  }

  h1 {
    font-size: 4.25rem;
  }

  nav.menu {
    margin-right: 0;
  }
}

@media (max-width: 455px) {
  h1 {
    font-size: 4rem;
  }

}

@media (max-width: 410px) {
  header.main {
    background-position: 90% 0;
  }

  .headerMain {
    padding-top: 0;
  }
  // Fatima said I could get rid of the image at this stage
  .headerImg {
    visibility: hidden
  }

  h1 {
    font-size: 3.5rem;
  }

  .headerText {
    position: relative;
    top: -215px;
    left: 0;
  }

  header.main {
    min-height: 75vh;
  }

// This is set to display none because there is screen reader text in the hamburger to direct people to the menu
  .headerNav h3 {
    display: none;
  }

  .menu {
    display: none;
  }

  .hamburger {
    visibility: visible;
  }

}

@media (max-width: 350px) {
  
  h1 {
    font-size: 2.5rem;
  }

  .headerMain {
    padding-top: 10%;
  }

}






