// Header is styled in header partial

// New Adventure Styles

.newAdventure {
  background: $backgroundLight;
  padding: 100px;
}

.newAdventureSmall {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.newAdventureText {
  width: 60%;
  p {
    margin-bottom: 25px;
  }
}

.newAdventureText h3 {
  margin: 0 0 40px 0;
}

.newAdventureImg {
  width: 30%;
  position: relative;
  z-index: 1;
}

.newAdventureImg::after {
  @include after($buttonAccent, 15px, -15px);
}

  // end of new adventure styles

  // start of gallery styles

.gallery {
  background: $backgroundDark;
  padding: 100px 0;
  width: 100%;
}

.gallerySmall {
  display: flex;
  justify-content: space-between;
}

.galleryImg {
  width: calc(33% - 20px);
  margin: 0 10px;
}

.galleryImg:nth-of-type(3) {
  margin-right: 0;
}

  // end of gallery styles

  // beginning of further reading styles

.furtherReading {
  background: $backgroundLight;
  padding: 100px 0;
}

.readingSmall {
  display: flex;
  flex-wrap: wrap;
}

.reading {
  width: 50%;
}

.reading h3 {
  margin: 20px 30px;
  border-bottom: 2px solid $backgroundLight;
  transition: border-bottom 0.5s ease;
  width: 100%;
}

.readingHeader a {
  display: flex;
  align-items: center;
  &:hover h3 {
    border-bottom: 2px solid $headerText;
  }
}

// I styled the icon background this way because border did not create a perfect circle, Soo gave me the idea. 
.readingHeader i {
  color: $text;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $buttonAccent;
    background: repeating-linear-gradient(
      -45deg,
    $buttonAccent,
    lighten($buttonAccent, 5) 1px,
    $buttonAccent 2px,
    );
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

.reading p {
  margin-left: 60px;
}

// end of further reading
  
// start of programsLocations

.programsLocations {
  background: $backgroundDark;
}

.programsLocationsSmall {
  display: flex;
}

.programs,
.locations {
  display: flex;
  flex-direction: column;
}

.programs {
  margin-left: 70px;
}

.locations {
  margin-right: 70px;
  padding-bottom: 50px;
}

.programsText {
  padding-right: 100px;
  width: 100%;
}

.locationsText {
  padding-left: 100px;
  width: 100%;
}

.programsLocations p {
  margin-bottom: 40px;
}

.locations h3 {
  text-align: right;  
}

.locationsText a {
  margin-left: 50%;
}

.programsImg {
  position: relative;
  z-index: 1;
  right: 0;
  bottom: -10%;
}

.programsImg::after {
  @include after($headerText, 15px, -15px)
}

.locationsImg {
  position: relative;
  z-index: 1;
  top: -10%;
  left: 0;
}

// I didn't include the mixin because I needed to style the ::after from the right not the left
.locationsImg::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: $headerText;
  z-index: -1;
  position: absolute;
  top: 15px;
  right: -15px;
}

// end of programsLocations styles

// beginning of footer styles

.footer {
  background: $backgroundLight;
}

.footerText {
  text-align: center;
  padding: 100px 0;
}

footer h3 {
  margin: 20px 0;
}

// styles footer copywrite on each page
  
.copywrite {
  background: $backgroundDark;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

// start of responsive

@media (max-width: 1170px) {

  .programsText,
  .locationsText {
    padding: 0;
  }

}

@media (max-width: 1100px) {

  .newAdventureSmall {
    flex-direction: column;
    align-items: center;
  }
  .newAdventureText {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .newAdventureImg {
    width: 75%;
  }

  .locationsText a {
    margin-left: 50%;
}
}

@media (max-width: 810px) {
  .programs {
    margin-left: 50px;
  }

  .locations {
    margin-right: 50px;
  }

  .locationsText a {
    margin-left: 40%;
  }
}

@media (max-width: 760px) {
  .gallerySmall {
    flex-direction: column;
  }

  .galleryImg {
    width: 100%;
    margin: 0 0 50px 0;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .galleryImg::after {
    @include after($headerText, 15px, 15px)
  }

  .readingSmall {
    flex-direction: column;
  }

  .reading {
    width: 100%;
  }

  .programs {
    margin-left: 0px;
  }

  .locations {
    margin-right: 0px;
  }

  .programsLocationsSmall {
    flex-direction: column;
  }

  .locationsImg,
  .programsImg {
    position: static;
  }

  // I asked Fatima and she said changing the partial background to a full border was ok to do for the responsive design, so I've done that in several places when I thought it looked better
  .locationsImg::after,
  .programsImg::after {
    height: 0;
    width: 0;
  }

  .programsImg,
  .locationsImg {
    order: 1;
    border: 15px solid $headerText;
  } 

  .programsText {
    order: 2;
    padding-bottom: 50px;
  }

  .locationsText {
    order: 2;
  }

  .programsText,
  .locationsText {
    text-align: center;
    h3 {
      text-align: center;
    }
  }

  .locationsText a {
    margin: 0;
  }


}

@media (max-width: 500px) {


  .newAdventure {
    padding: 50px;
  }

  .newAdventureImg,
  .galleryImg {
    width: 100%;
  }

  .furtherReading {
    padding: 50px 0;
  }

}

@media (max-width: 400px) {

  .newAdventure {
    padding: 20px;
  }

  // I took away some of the text here to make it scroll better, because that when the user clicks on the link they will see the full text
  .newAdventureText span {
    display: none;
  }

  .newAdventureImg {
    border: 15px solid $buttonAccent;
  }

  .galleryImg {
    border: 15px solid $headerText;
  }

  .newAdventureImg::after,
  .galleryImg::after {
    height: 0;
    width: 0;
  }

}