$headerText: #edae49;
$buttonAccent:#2f6690;
$backgroundDark: #262725;
$backgroundLight: #1e140e;
$text: #fafffe;

@mixin background($background) {
  background: $background;
  background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

@mixin after($color, $top, $left) {
  content: "";
  height: 100%;
  width: 100%;
  background-color: $color;
  z-index: -1;
  position: absolute;
  top: $top;
  left: $left;
}