@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.wrapperSmall {
  width: 90%;
  max-width: 1152px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  color: #ffc600;
}

h1,
h2,
h3,
.more {
  font-family: 'Dokdo', cursive;
}

h3 {
  font-size: 2.25rem;
}

.more {
  color: #fafffe;
  background: #555f02;
  padding: 10px;
}

nav ul li,
p {
  font-family: 'Lato', sans-serif;
  color: #fafffe;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

header.main {
  background: url(../assets/candleHeaderBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

.hamburger {
  color: #fafffe;
  position: absolute;
  top: 0;
  right: 14%;
  visibility: hidden;
  font-size: 2rem;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h3 {
  margin-left: 10%;
  font-size: 2.05rem;
}

.menu {
  margin-right: 10%;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.menu ul li {
  padding: 0 10px;
  font-weight: bold;
}

.menu ul li:hover {
  color: #ffc600;
}

header p {
  font-family: 'Dokdo', cursive;
  color: #fafffe;
  font-size: 3rem;
  margin: 0 0 0 10px;
}

h1 {
  font-size: 5.75rem;
  margin: 0 0 0 10px;
}

.headerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: -10%;
}

.headerImg {
  width: 500px;
}

@media (min-width: 1500px) {
  header.main {
    background-position: 100% 100%;
    min-height: 75%;
  }
}

@media (max-width: 1150px) {
  header.main {
    background-position: 40% 0;
  }
  .headerMain {
    bottom: 0;
  }
}

@media (max-width: 930px) {
  header.main {
    background-position: 60% 0;
  }
  .headerMain {
    bottom: 15%;
  }
}

@media (max-width: 730px) {
  header.main {
    background-position: 80% 0;
  }
  .headerMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .headerImg {
    width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .headerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .headerNav h3 {
    margin: 50px 0 20px 0;
  }
  h1 {
    font-size: 4.25rem;
  }
  nav.menu {
    margin-right: 0;
  }
}

@media (max-width: 410px) {
  .headerImg {
    display: none;
  }
  h1 {
    font-size: 3.5rem;
  }
  header.main {
    min-height: 75vh;
  }
  .headerNav h3 {
    display: none;
  }
  .headerMain {
    padding-top: 25%;
  }
}

@media (max-width: 350px) {
  header.main {
    background-position: 90% 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  .headerMain {
    padding-top: 10%;
  }
}

.newAdventure {
  background: #1e140e;
  padding: 100px;
}

.newAdventureSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.newAdventureText {
  width: 60%;
}

.newAdventureText p {
  margin-bottom: 25px;
}

.newAdventureText h3 {
  margin: 0 0 40px 0;
}

.newAdventureImg {
  width: 30%;
  position: relative;
  z-index: 1;
}

.newAdventureImg::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #555f02;
  z-index: -1;
  position: absolute;
  top: 15px;
  left: -15px;
}

.gallery {
  background: #262725;
  padding: 100px 0;
  width: 100%;
}

.gallerySmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.galleryImg {
  width: calc(33% - 20px);
  margin-left: 10px;
}

.galleryImg:nth-of-type(3) {
  margin: 0;
}

.furtherReading {
  background: #1e140e;
  padding: 100px 0;
}

.readingSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reading {
  width: 50%;
}

.reading h3 {
  margin: 20px 0;
}

.readingHeader a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.readingHeader i {
  color: #fafffe;
  background: #555f02;
  border: 10px solid #555f02;
  border-radius: 50%;
  margin-right: 20px;
}

.reading p {
  margin-left: 60px;
}

.programsLocations {
  background: #262725;
}

.programsLocationsSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs,
.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programs {
  margin-left: 70px;
}

.locations {
  margin-right: 70px;
  padding-bottom: 50px;
}

.programsText {
  padding-right: 100px;
}

.locationsText {
  padding-left: 100px;
}

.programsLocations p {
  margin-bottom: 40px;
}

.locations h3 {
  text-align: right;
}

.locationsText a {
  margin-left: 70%;
}

.programsImg {
  position: relative;
  z-index: 1;
  right: 0;
  bottom: -10%;
}

.programsImg::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ffc600;
  z-index: -1;
  position: absolute;
  top: 15px;
  left: -15px;
}

.locationsImg {
  position: relative;
  z-index: 1;
  top: -10%;
  left: 0;
}

.locationsImg::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ffc600;
  z-index: -1;
  position: absolute;
  top: 15px;
  right: -15px;
}

footer {
  background: #1e140e;
}

.footerText {
  text-align: center;
  padding: 100px 0;
}

footer h3 {
  margin: 20px 0;
}

.copywrite {
  background: #262725;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .locationsText a {
    margin-left: 60%;
  }
  .programsText,
  .locationsText {
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .newAdventureSmall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newAdventureText {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }
  .newAdventureImg {
    width: 75%;
  }
}

@media (max-width: 810px) {
  .programs {
    margin-left: 50px;
  }
  .locations {
    margin-right: 50px;
  }
}

@media (max-width: 760px) {
  .gallerySmall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galleryImg {
    width: 100%;
    margin: 0 0 50px 0;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .galleryImg::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ffc600;
    z-index: -1;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .readingSmall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
  }
  .reading {
    width: 100%;
  }
  .programs {
    margin-left: 0px;
  }
  .locations {
    margin-right: 0px;
  }
  .programsLocationsSmall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .locationsImg,
  .programsImg {
    position: static;
  }
  .locationsImg::after,
  .programsImg::after {
    height: 0;
    width: 0;
  }
  .programsImg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: 15px solid #ffc600;
  }
  .programsText {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 50px;
  }
  .locationsImg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: 15px solid #ffc600;
  }
  .locationsText {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .programsText,
  .locationsText {
    text-align: center;
  }
  .programsText h3,
  .locationsText h3 {
    text-align: center;
  }
  .locationsText a {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .newAdventure {
    padding: 50px;
  }
  .newAdventureImg {
    width: 100%;
  }
  .galleryImg {
    width: 100%;
  }
  .furtherReading {
    padding: 50px 0;
  }
  .reading h3 {
    margin: 10px 0;
  }
}

@media (max-width: 400px) {
  .newAdventure {
    padding: 20px;
  }
  .newAdventureText span {
    display: none;
  }
  .newAdventureImg {
    border: 15px solid #555f02;
  }
  .galleryImg {
    border: 15px solid #ffc600;
  }
  .newAdventureImg::after,
  .galleryImg::after {
    height: 0;
    width: 0;
  }
}

main.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog {
  background: #1e140e;
}

header.blog {
  background: url(../assets/nightYogaBlog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 75vh;
}

.blogHeader {
  font-size: 5.25rem;
  position: absolute;
  top: 10%;
  left: 15%;
}

.blogMain {
  background: #1e140e;
  max-width: 70%;
}

.blogImg {
  position: relative;
  top: -50px;
  left: -12px;
  z-index: 1;
}

.blogImg::after {
  content: "";
  height: 100%;
  width: 98%;
  background-color: #555f02;
  z-index: -1;
  position: absolute;
  top: 15px;
  left: 31px;
}

.blogBorder {
  border-right: 2px solid #555f02;
  border-bottom: 2px solid #555f02;
}

.blogText {
  padding: 0 20px 20px 0;
  margin-left: 100px;
}

.blogText h3 {
  margin: 50px 0 0 0;
}

.byLine {
  margin: 0 0 20px 0;
  font-style: italic;
}

.byLine span {
  font-weight: bold;
}

.comments {
  margin-left: 100px;
}

.comments h3 {
  color: #fafffe;
}

.commenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commenter h4 {
  font-family: 'Lato', sans-serif;
}

.commenterText {
  margin-left: 20px;
}

.commenterImg {
  width: 100px;
  height: 100px;
}

form {
  margin-left: 100px;
  color: #fafffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog input,
.blog textarea {
  background: #1e140e;
  color: #fafffe;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name,
.email {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
}

.name label,
.email label {
  padding-left: 30px;
}

.name {
  margin-right: 40px;
}

.blog input[type="email"],
.blog input[type="text"] {
  border-top: #1e140e;
  border-left: #1e140e;
  border-right: #1e140e;
  border-bottom: 2px solid #ffc600;
}

textarea {
  border: 2px solid #ffc600;
  padding: 40px;
  margin: 50px 0;
}

textarea::-webkit-input-placeholder {
  color: #fafffe;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #fafffe;
  opacity: 1;
}

textarea::-ms-input-placeholder {
  color: #fafffe;
  opacity: 1;
}

textarea::placeholder {
  color: #fafffe;
  opacity: 1;
}

.blog button {
  border: #555f02;
  margin-bottom: 100px;
}

.blog aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  color: #fafffe;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.blog aside h5 {
  font-family: 'Dokdo', cursive;
  font-size: 2rem;
}

.blog aside::after {
  content: "";
  height: 45%;
  width: 110%;
  background-color: #555f02;
  z-index: -1;
  position: absolute;
  top: 15px;
  left: -30px;
}

aside p {
  font-family: 'Lato', sans-serif;
}

.asideLinks ul {
  padding: 0;
}

.asideLinks li {
  padding-left: 20px;
  font-family: 'Lato', sans-serif;
}

.asideLinks li::before {
  content: "•";
  color: #ffc600;
}

body.contact {
  background: #1e140e;
}

main.contact {
  padding: 100px 0;
}

header.contact {
  background: url(../assets/contactBackgroundMountains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 75vh;
}

header.contact h2 {
  font-size: 5.25rem;
}

.formAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form.contact {
  background: #262725;
  width: 70%;
  padding: 50px 50px 25px 50px;
  position: relative;
  top: -250px;
  left: 0;
}

form.contact::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ffc600;
  z-index: -1;
  position: absolute;
  top: 15px;
  left: 15px;
}

.contact input,
.contact textarea {
  background: #262725;
  color: #fafffe;
}

.contact input[type="text"],
.contact input[type="email"] {
  border-top: #262725;
  border-left: #262725;
  border-right: #262725;
  border-bottom: 2px solid #ffc600;
}

.contact button {
  border: #555f02;
}

aside.contact {
  width: 15%;
}

aside.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

aside.contact ul li {
  padding-right: 20px;
  color: #ffc600;
}

aside.contact p {
  margin: 0;
}

aside.contact p:nth-of-type(1) {
  margin: 10px 0 20px 0;
}
